!--------------------xdefauls
URxvt.font: xft:monospace:size=13
urxvt*termName: rxvt
urxvt*scrollBar: false
urxvt*matcher.button: 1
urxvt.boldFont:
URxvt.letterSpace: -1
Xft*dpi: 96
Xft*antialias: true
Xft*hinting: true
Xft*hintstyle: hintfull
URxvt*cursorUnderline: true
Xft*rgba: rgb
URxvt*geometry: 85x20
*internalBorder: 26
URxvt*fading: 0
URxvt*tintColor: #ffffff
URxvt*shading: 0
URxvt*inheritPixmap: False


URxvt.depth: 32
URxvt.background: rgba:1111/1111/1111/dddd
URxvt*foreground: #cccaca

!Black
URxvt*color0: #222222
URxvt*color8: #5b595a
!Red
URxvt*color1: #664742
URxvt*color9: #664742
!Green
URxvt*color2: #A5AF86
URxvt*color10: #A5AF86
!Yellow
URxvt*color3: #F7E7BD
URxvt*color11: #F7E7BD
!Blue
URxvt*color4: #6e686f
URxvt*color12: #6e686f
!Magenta
URxvt*color5: #966E6E
URxvt*color13: #B09A91
!Cyan
URxvt*color6: #849492
URxvt*color14: #849492
!White
URxvt*color7: #a49c9c
URxvt*color15: #e9e6e6


!TABS
URxvt.perl-ext-common : default,tabbed
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    1
URxvt.tabbed.tab-bg:    0

