@import "somethings";

* {
     margin: 0px;
     padding: 0;
     color : #434343;
     font-family: "somethings asdjkasjd askjdksj" !important
 }


h2, p, div {
     color : #434343 
 }

.class {
     color : #434343 
 }

 #someid :hover {
     background-attachment: scroll/fixed;
     color : #434343 
 }

 @media (max-width: 1000px){
     display: grid;
 }
