*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    font-family:'Fira Code';
} 


.hero{
    height: 100vh;
    width: 100vw;
    display:grid;
    background-color:#1d2021;
    place-items:center;
}

.hero input{
    width:auto;
    font-weight:300;
    font-size:4rem;
    font-family:Arial;
    color:#ebdbb2;
    background-color:transparent;
    text-align:center;
    border:none;
    appearance:none;
    outline: none;
}

input:active{
    font-weight:300;
    font-size:4rem;
    font-family:Arial;
    color:#ebdbb2;
    background-color:transparent;
    text-align:center;
    border:none;

}

.clock {
    position:absolute;
    bottom:20%;
    color:#fabd2f;
    font-size:2em;
    display:flex;
    height:100px;
    width:100%;
    font-style:italic;
    justify-content:center;
    align-items:center;
}

